/*一图流css配置开始*/
/* 页脚与头图透明 */
#footer {
    background: transparent !important;
}
#page-header {
    background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
    background: transparent !important;
}
#page-header::before {
    background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}
[data-theme="dark"] #page-header::before {
    background: transparent !important;
}
/*一图流css配置结束*/

@font-face {
    /* 为载入的字体取名字(随意) */
    font-family: 'JNMYT';   /*荆南麦圆体*/
    /* 字体文件地址(相对或者绝对路径都可以) */
    src: url(https://this0.oss-cn-chengdu.aliyuncs.com/blog/base/font/JingNanBoBoHei-Bold-2.ttf);
    /* 定义加粗样式(加粗多少) */
    font-weight: normal;
    /* 定义字体样式(斜体/非斜体) */
    font-style: normal;
    /* 定义显示样式 */
    font-display: block;
}